<mat-toolbar color="primary" class="app-header">
  <span class="app-title" [routerLink]="['/feed']">NewBlog</span>
  <span class="spacer"></span>
  <span class="nav-links">
    <ng-container *ngIf="isLoggedIn; else showLogin">
      <!-- If logged in, show profile icon and username -->
      <mat-toolbar color="primary">
        <button mat-button (click)="addPost()">
          Add Post
        </button>
        <button mat-button [matMenuTriggerFor]="postsMenu">
          Posts
        </button>
        <span class="fill-remaining-space"></span> <!-- Fill remaining space to push the profile menu to the right -->
        <button mat-icon-button [matMenuTriggerFor]="profileMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
      </mat-toolbar>
      
      <mat-menu #postsMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>article</mat-icon>
          View Posts
        </button>
      </mat-menu>
      
      <mat-menu #profileMenu="matMenu">
        <div class="menu-container">
          <div class="user-profile">
            <button mat-menu-item>
              <mat-icon>account_circle</mat-icon>
              {{ loggedInUserName }}
            </button>
            <button mat-menu-item (click)="logout()">
              Logout
            </button>
          </div>
        </div>
      </mat-menu>
      
    </ng-container>
    <ng-template #showLogin>
      <!-- If not logged in, show login and register buttons -->
      <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    </ng-template>
  </span>
  
</mat-toolbar>

<router-outlet></router-outlet>