.login-wrapper {
    margin-top: 50px;
  }
  
  .login-box {
    width: 400px;
  }
  
  .login-field {
    width: 100%;
  }
  
  .login-btn {
    width: 100%;
    margin-top: 20px;
  }
  .alert {
    color: red;
    margin-top: 10px;
  }